<li class="mb-6">
  <h2 class="c-heading--caps text-gray-600 text-ms font-medium">
    <%= section[:name] %>
  </h2>
  <ul>
    <%# Sub-sections %>
    <% section[:sub_sections].each do |sub_section| %>
      <%= partial "navigation/sub_section", :locals => { sub_section: sub_section } %>
    <% end %>
  </ul>
</li>
