---
title: "Standalone AppSignal Agent configuration options"
---

<p>The following list includes all configuration options with the name of the key in the configuration file.</p>

<p>For more information on how to configure the Standalone AppSignal Agent with a configuration file, see our <%= link_to "Installation", "/standalone-agent/installation.html" %> page.</p>

<%= partial "shared/options_list", :locals => { :integration => :standalone, show_environment: false } %>
