<footer>
  <div class="bg-gray-900 text-white">
    <div class="container max-w-screen-lg">
      <p class="py-5">
        <i class="fab fa-github mr-2"></i>
        Want to help us improve this documentation page? <%= edit_link %>
      </p>
    </div>
  </div>
  <div class="bg-gray-800 text-white">
    <div class="container max-w-screen-lg">
      <div class="flex flex-wrap -mx-4 lg:-mx-8">
        <div class="w-full lg:w-1/2 p-4 lg:p-8">
          <h1 class="c-heading--2xl">Need more help?</h1>
          <p>Contact us and speak directly with the engineers working on AppSignal. They will help you get set up, tweak your code and make sure you get the most out of using AppSignal.</p>
          <%= link_to "Contact us", "mailto:support@appsignal.com", :class => "c-button c-button--gray c-button--sm mt-4" %>
        </div>
        <div class="w-full lg:w-1/2 p-4 lg:p-8">
          <h1 class="c-heading--2xl">Start a trial - 30 days free</h1>
          <p>AppSignal is a great way to monitor your Ruby, Elixir & Node.js applications. Works great with Rails, Phoenix, Express and other frameworks, with support for background jobs too. Let"s improve your apps together.</p>
          <%= link_to "Start a trial", "https://appsignal.com/plans", :class => "c-button c-button--gray c-button--sm mt-4" %>
        </div>
      </div>
    </div>
  </div>
</footer>
