<div class="c-heading--caps text-gray-600 font-medium mb-3">
  On this page
</div>
<ul>
  <li>
    <a class="my-2 block text-gray-600 no-underline hover:text-blue hover:underline" href="#getting-started">Getting started</a>
  </li>
  <li>
    <a class="my-2 block text-gray-600 no-underline hover:text-blue hover:underline" href="#features">Features</a>
  </li>
  <li>
    <a class="my-2 block text-gray-600 no-underline hover:text-blue hover:underline" href="#support">Support</a>
  </li>
</ul>
